#TEMPORARY CODE

In [1]:
#CODE TO CREATE AN CONNECTION OF DATABASE - WILL BE PLACED SOMEWHERE

from database import database
import sql_queries as sq

database_instance = database('cp317_final','postgres','password','localhost','5432')
conn, cur = database_instance.get_instance()

In [2]:
#Account 1: Create Account

#imagine someone already has the username
cur.execute(sq.add_account(), ("Luke", "ldunc", "ldunc342@gmail.com", "9034233931", "oth"))

#Attempting to create new account
cur.execute(sq.add_account(), ("Lucas", "ldunc", "ldunc19@hotmail.com", "9032023931", "pass"))
conn.commit()

#Mark whether succeeded
if cur.rowcount > 0:  print("TRUE")

#When it fails, try again with anouther
cur.execute(sq.add_account(), ("Lucas", "ldunc01", "ldunc19@hotmail.com", "9032023931", "pass"))
conn.commit()

#Mark whether succeeded
if cur.rowcount > 0:  print("TRUE-Second Time")

TRUE-Second Time

In [3]:
#Account 2: Demonstrating Log Into Existing Account

cur.execute(sq.attempt_login(), ("kdunc01", "pass"))
row = cur.fetchone()

if row:
    print("SIGNED IN")
else:
    print("WRONG")

cur.execute(sq.attempt_login(), ("ldunc01", "pass"))
row = cur.fetchone()
print(row)

if row:
    print("SIGNED IN")
else:
    print("WRONG")

WRONG
(26, 'Lucas', 'ldunc01', datetime.date(2024, 11, 20), 'ldunc19@hotmail.com', '9032023931', 'pass', 0, 0, 0)
SIGNED IN

In [4]:
our_account_id = row[0]

In [5]:
#Search Account By Name
cur.execute(sq.get_searched_account(),("%TESTING%",))
possible_matchs = cur.fetchall()

for match in possible_matchs:
    print(match)

#the one we want
account_id_selected = possible_matchs[0][0]
print(account_id_selected)

(22, 'Bertha Blue', 'TESTINGBertha Blue', 12, 7, 1, 6.166666666666667)
(23, 'Tiffany Stoik', 'TESTINGTiffany Stoik', 9, 6, 6, 5.777777777777778)
(16, 'Hashim Jama', 'TESTINGHashim Jama', 10, 6, 4, 5.7)
(18, 'Lucas Duncan', 'TESTINGLucas Duncan', 7, 6, 9, 5.428571428571429)
(14, 'Venkat Gunturi', 'TESTINGVenkat Gunturi', 14, 6, 8, 5.571428571428571)
(17, 'Zach Reid', 'TESTINGZach Reid', 9, 6, 9, 6.333333333333333)
(20, 'Jane Smith', 'TESTINGJane Smith', 10, 7, 8, 4.4)
(21, 'Kylie Tan', 'TESTINGKylie Tan', 12, 7, 8, 4.5)
(19, 'John Doe', 'TESTINGJohn Doe', 8, 5, 8, 4.0)
(15, 'Gavin Heslip', 'TESTINGGavin Heslip', 13, 7, 2, 5.153846153846154)
22

In [6]:
#Start Following 
cur.execute(sq.add_following(), (our_account_id, account_id_selected))

In [7]:
#Get Their Account Info
cur.execute(sq.get_account_summary(), (account_id_selected,))
print(cur.fetchall())

#Get Account Info For Our Account
cur.execute(sq.get_self_summary(), (our_account_id,))
print(cur.fetchall())

[(22, 'Bertha Blue', 'TESTINGBertha Blue', 12, 8, 1, 6.166666666666667)]
[(26, 'Lucas', 'ldunc01', '9032023931', 'ldunc19@hotmail.com', 0, 0, 1, None)]

In [8]:
#Get List Of Reviews Made By Account (for account info of self or others)

cur.execute(sq.get_account_review(),(account_id_selected,))
reviews = cur.fetchall()

for review in reviews:
    print(review)

('The Shawshank Redemption', 3.0, -2.375, 'TESTING', 'Drama', 'Movie')
('The Godfather', 7.0, -0.09999943, 'TESTING', 'Crime', 'Movie')
('The Dark Knight', 10.0, 4.5, 'TESTING', 'Action', 'Movie')
('Pulp Fiction', 8.0, 2.1666665, 'TESTING', 'Crime', 'Movie')
('Forrest Gump', 3.0, -2.5, 'TESTING', 'Drama', 'Movie')
('Fight Club', 6.0, 0.19999981, 'TESTING', 'Drama', 'Movie')
('The Matrix', 9.0, 3.857143, 'TESTING', 'Action', 'Movie')
('Star Wars: Episode V - The Empire Strikes Back', 2.0, -1.0, 'TESTING', 'Fantasy', 'Movie')
('Gladiator', 10.0, 1.0, 'TESTING', 'Action', 'Movie')
('Interstellar', 9.0, 4.5, 'TESTING', 'Sci-Fi', 'Movie')
('The Lion King', 3.0, -3.0, 'TESTING', 'Animation', 'Movie')
('Django Unchained', 4.0, -1.4444447, 'TESTING', 'Western', 'Movie')

In [9]:
#Get List of follows
cur.execute(sq.get_account_follows(), (account_id_selected,))
follows = cur.fetchall()

for follow in follows:
    print(follow)

(14, 'Venkat Gunturi', 14, 8, 6)
(15, 'Gavin Heslip', 13, 2, 7)
(17, 'Zach Reid', 9, 9, 6)
(18, 'Lucas Duncan', 7, 9, 6)
(20, 'Jane Smith', 10, 8, 7)
(21, 'Kylie Tan', 12, 8, 7)
(23, 'Tiffany Stoik', 9, 6, 6)
(26, 'Lucas', 0, 1, 0)

In [10]:
#Get list of followers
cur.execute(sq.get_account_following(), (account_id_selected,))
followings = cur.fetchall()

for following in followings:
    print(following)

(15, 'Gavin Heslip', 13, 2, 7)

In [11]:
#Add A review (1)

#search for a name,
cur.execute(sq.get_searched_media(), ('%The%',))
media = cur.fetchall()

for single_media in media:
    print(single_media)

id_of_media_we_want_to_review = media[2][0]

(31, 'Star Wars: Episode V - The Empire Strikes Back', 3, 16, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 3.0, 8)
(22, 'The Godfather', 3, 22, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 7.0999994, 10)
(37, 'The Lion King', 3, 26, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 6.0, 4)
(21, 'The Shawshank Redemption', 3, 21, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 5.375, 8)
(34, 'The Green Mile', 3, 21, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 4.5, 2)
(30, 'The Lord of the Rings: The Fellowship of the Ring', 3, 16, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 5.6666665, 3)
(23, 'The Dark Knight', 3, 17, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 5.5, 2)
(39, 'The Departed', 3, 22, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 8.0, 1)
(28, 'The Matrix', 3, 17, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 5.142857, 7)
(32, 'The Silence of the Lambs', 3, 24, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 3.9999998, 6)

In [12]:
#Add A review (2)

#Upload review
cur.execute(sq.add_review(), (our_account_id, id_of_media_we_want_to_review, 7.5, "This Movie Was Good"))
conn.commit()

In [13]:
#Get Recent Activity Among Followers
cur.execute(sq.get_account_recent(), (our_account_id,))

for recent in cur.fetchall():
    print(recent)

('Movie', 'Fantasy', 'Star Wars: Episode V - The Empire Strikes Back', 'Bertha Blue', 2.0, -1.0, 'TESTING')
('Movie', 'Action', 'The Matrix', 'Bertha Blue', 9.0, 3.857143, 'TESTING')
('Movie', 'Action', 'The Dark Knight', 'Bertha Blue', 10.0, 4.5, 'TESTING')
('Movie', 'Action', 'Gladiator', 'Bertha Blue', 10.0, 1.0, 'TESTING')
('Movie', 'Drama', 'Forrest Gump', 'Bertha Blue', 3.0, -2.5, 'TESTING')
('Movie', 'Drama', 'The Shawshank Redemption', 'Bertha Blue', 3.0, -2.375, 'TESTING')
('Movie', 'Drama', 'Fight Club', 'Bertha Blue', 6.0, 0.19999981, 'TESTING')
('Movie', 'Crime', 'Pulp Fiction', 'Bertha Blue', 8.0, 2.1666665, 'TESTING')
('Movie', 'Crime', 'The Godfather', 'Bertha Blue', 7.0, -0.09999943, 'TESTING')
('Movie', 'Sci-Fi', 'Interstellar', 'Bertha Blue', 9.0, 4.5, 'TESTING')
('Movie', 'Animation', 'The Lion King', 'Bertha Blue', 3.0, -3.3000002, 'TESTING')
('Movie', 'Western', 'Django Unchained', 'Bertha Blue', 4.0, -1.4444447, 'TESTING')

In [14]:
#Delete A Following()
cur.execute(sq.delete_following(),(our_account_id, account_id_selected))
conn.commit()

In [15]:
#Get Media Details Given Its Id

cur.execute(sq.get_media(), (id_of_media_we_want_to_review,))
print(cur.fetchall())

[(37, 'The Lion King', 3, 26, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', 6.3, 5)]