#TEMPORARY CODE

In [1]:
#CODE TO CREATE AN CONNECTION OF DATABASE - WILL BE PLACED SOMEWHERE

from database import database
import sql_queries as sq

database_instance = database('cp317_final','postgres','password','localhost','5432')
conn, cur = database_instance.get_instance()

In [2]:
#Account 1: Create Account

#imagine someone already has the username
cur.execute(sq.add_account(), ("Luke", "ldunc", "ldunc342@gmail.com", "9034233931", "oth"))

#Attempting to create new account
cur.execute(sq.add_account(), ("Lucas", "ldunc", "ldunc19@hotmail.com", "9032023931", "pass"))
conn.commit()

#Mark whether succeeded
if cur.rowcount > 0:  print("TRUE")

#When it fails, try again with anouther
cur.execute(sq.add_account(), ("Lucas", "ldunc01", "ldunc19@hotmail.com", "9032023931", "pass"))
conn.commit()

#Mark whether succeeded
if cur.rowcount > 0:  print("TRUE-Second Time")

TRUE-Second Time

In [3]:
#Account 2: Demonstrating Log Into Existing Account

cur.execute(sq.attempt_login(), ("kdunc01", "pass"))
row = cur.fetchone()

if row:
    print("SIGNED IN")
else:
    print("WRONG")

cur.execute(sq.attempt_login(), ("ldunc01", "pass"))
row = cur.fetchone()
print(row)

if row:
    print("SIGNED IN")
else:
    print("WRONG")

WRONG
(324, 'Lucas', 'ldunc01', datetime.date(2024, 11, 16), 'ldunc19@hotmail.com', '9032023931', 0, 0, 0, 'pass')
SIGNED IN

In [4]:
#Search By Name
cur.execute(sq.get_searched_account(),("%TESTING%",))
possible_matchs = cur.fetchall()

for match in possible_matchs:
    print(match)

#the one we want
id = possible_matchs[0][0]
print(id)

(318, 'Jane Smith', 'TESTINGJane Smith', 10, 5, 8, 5.8)
(315, 'Zach Reid', 'TESTINGZach Reid', 8, 7, 6, 6.25)
(312, 'Venkat Gunturi', 'TESTINGVenkat Gunturi', 9, 4, 7, 4.888888888888889)
(316, 'Lucas Duncan', 'TESTINGLucas Duncan', 12, 7, 4, 6.25)
(317, 'John Doe', 'TESTINGJohn Doe', 11, 5, 7, 5.545454545454546)
(320, 'Bertha Blue', 'TESTINGBertha Blue', 8, 5, 4, 4.0)
(314, 'Hashim Jama', 'TESTINGHashim Jama', 11, 3, 6, 5.454545454545454)
(319, 'Kylie Tan', 'TESTINGKylie Tan', 11, 5, 6, 4.454545454545454)
(321, 'Tiffany Stoik', 'TESTINGTiffany Stoik', 9, 8, 4, 3.5555555555555554)
(313, 'Gavin Heslip', 'TESTINGGavin Heslip', 10, 7, 4, 4.8)
318

In [5]:
#Start Following 
cur.execute(sq.add_following(), (row[0], id))

In [6]:
#Get Their Account Info
cur.execute(sq.get_account_summary(), (id,))
print(cur.fetchall())

#Get Account Info For Our Account
cur.execute(sq.get_self_summary(), (row[0],))
print(cur.fetchall())

[(318, 'Jane Smith', 'TESTINGJane Smith', 10, 6, 8, 5.8)]
[(324, 'Lucas', 'ldunc01', '9032023931', 'ldunc19@hotmail.com', 0, 0, 1, None)]

In [7]:
#Get List Of Reviews (for account info of self or others)

cur.execute(sq.get_account_review(),(id,))
reviews = cur.fetchall()

for review in reviews:
    print(review)

('The Godfather', 8.0, None, 'TESTING', 'Crime', 'Movie')
('The Dark Knight', 4.0, None, 'TESTING', 'Action', 'Movie')
('Pulp Fiction', 6.0, None, 'TESTING', 'Crime', 'Movie')
('Forrest Gump', 5.0, None, 'TESTING', 'Drama', 'Movie')
('Fight Club', 6.0, None, 'TESTING', 'Drama', 'Movie')
("Schindler's List", 6.0, None, 'TESTING', 'History', 'Movie')
('Gladiator', 10.0, None, 'TESTING', 'Action', 'Movie')
('Interstellar', 6.0, None, 'TESTING', 'Sci-Fi', 'Movie')
('The Lion King', 1.0, None, 'TESTING', 'Animation', 'Movie')
('Django Unchained', 6.0, None, 'TESTING', 'Western', 'Movie')

In [8]:
#Get List of follows
cur.execute(sq.get_account_follows(), (id,))
follows = cur.fetchall()

for follow in follows:
    print(follow)

(316, 'Lucas Duncan', 12, 4, 7)
(317, 'John Doe', 11, 7, 5)
(320, 'Bertha Blue', 8, 4, 5)
(314, 'Hashim Jama', 11, 6, 3)
(319, 'Kylie Tan', 11, 6, 5)
(324, 'Lucas', 0, 1, 0)

In [9]:
#Get list of followers
cur.execute(sq.get_account_following(), (id,))
followings = cur.fetchall()

for following in followings:
    print(following)

(315, 'Zach Reid', 8, 6, 7)
(312, 'Venkat Gunturi', 9, 7, 4)
(316, 'Lucas Duncan', 12, 4, 7)
(317, 'John Doe', 11, 7, 5)
(320, 'Bertha Blue', 8, 4, 5)
(314, 'Hashim Jama', 11, 6, 3)
(319, 'Kylie Tan', 11, 6, 5)
(313, 'Gavin Heslip', 10, 4, 7)

In [10]:
#Add A review (1)

#search for a name,
cur.execute(sq.get_searched_media(), ('%The%',))
media = cur.fetchall()

for single_media in media:
    print(single_media)

id_we_want = media[2][0]

(497, 'The Lion King', 49, 348, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(490, 'The Lord of the Rings: The Fellowship of the Ring', 49, 338, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(491, 'Star Wars: Episode V - The Empire Strikes Back', 49, 338, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(482, 'The Godfather', 49, 344, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(492, 'The Silence of the Lambs', 49, 346, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(483, 'The Dark Knight', 49, 339, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(499, 'The Departed', 49, 344, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(481, 'The Shawshank Redemption', 49, 343, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(488, 'The Matrix', 49, 339, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(494, 'The Green Mile', 49, 343, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)

In [11]:
#Add A review (2)

#Upload review
cur.execute(sq.add_review(), (row[0], id_we_want, 7.5, "This Movie Was Good"))
conn.commit()

In [12]:
#Get Recent Activity Among Followers
cur.execute(sq.get_account_recent(), (row[0],))

for recent in cur.fetchall():
    print(recent)

('Movie', 'Crime', 'The Godfather', 'Jane Smith', 8.0, None, 'TESTING')
('Movie', 'Action', 'The Dark Knight', 'Jane Smith', 4.0, None, 'TESTING')
('Movie', 'Crime', 'Pulp Fiction', 'Jane Smith', 6.0, None, 'TESTING')
('Movie', 'Drama', 'Forrest Gump', 'Jane Smith', 5.0, None, 'TESTING')
('Movie', 'Drama', 'Fight Club', 'Jane Smith', 6.0, None, 'TESTING')
('Movie', 'History', "Schindler's List", 'Jane Smith', 6.0, None, 'TESTING')
('Movie', 'Action', 'Gladiator', 'Jane Smith', 10.0, None, 'TESTING')
('Movie', 'Sci-Fi', 'Interstellar', 'Jane Smith', 6.0, None, 'TESTING')
('Movie', 'Animation', 'The Lion King', 'Jane Smith', 1.0, None, 'TESTING')
('Movie', 'Western', 'Django Unchained', 'Jane Smith', 6.0, None, 'TESTING')

In [13]:
#Delete A Following()
cur.execute(sq.delete_following(),(row[0], id))
conn.commit()