#TEMPORARY CODE

In [1]:
#CODE TO CREATE AN CONNECTION OF DATABASE - WILL BE PLACED SOMEWHERE

from database import database
import sql_queries as sq

database_instance = database('cp317_final','postgres','password','localhost','5432')
conn, cur = database_instance.get_instance()

In [2]:
#Account 1: Create Account

#imagine someone already has the username
cur.execute(sq.add_account(), ("Luke", "ldunc", "ldunc342@gmail.com", "9034233931", "oth"))

#Attempting to create new account
cur.execute(sq.add_account(), ("Lucas", "ldunc", "ldunc19@hotmail.com", "9032023931", "pass"))
conn.commit()

#Mark whether succeeded
if cur.rowcount > 0:  print("TRUE")

#When it fails, try again with anouther
cur.execute(sq.add_account(), ("Lucas", "ldunc01", "ldunc19@hotmail.com", "9032023931", "pass"))
conn.commit()

#Mark whether succeeded
if cur.rowcount > 0:  print("TRUE-Second Time")

TRUE-Second Time

In [3]:
#Account 2: Demonstrating Log Into Existing Account

cur.execute(sq.attempt_login(), ("kdunc01", "pass"))
row = cur.fetchone()

if row:
    print("SIGNED IN")
else:
    print("WRONG")

cur.execute(sq.attempt_login(), ("ldunc01", "pass"))
row = cur.fetchone()
print(row)

if row:
    print("SIGNED IN")
else:
    print("WRONG")

WRONG
(376, 'Lucas', 'ldunc01', datetime.date(2024, 11, 20), 'ldunc19@hotmail.com', '9032023931', 0, 0, 0, 'pass')
SIGNED IN

In [4]:
#Search By Name
cur.execute(sq.get_searched_account(),("%TESTING%",))
possible_matchs = cur.fetchall()

for match in possible_matchs:
    print(match)

#the one we want
id = possible_matchs[0][0]
print(id)

(372, 'Bertha Blue', 'TESTINGBertha Blue', 10, 5, 8, 4.0)
(369, 'John Doe', 'TESTINGJohn Doe', 14, 6, 4, 4.857142857142857)
(365, 'Gavin Heslip', 'TESTINGGavin Heslip', 12, 3, 7, 6.25)
(364, 'Venkat Gunturi', 'TESTINGVenkat Gunturi', 12, 3, 6, 6.666666666666667)
(368, 'Lucas Duncan', 'TESTINGLucas Duncan', 13, 5, 6, 5.384615384615385)
(367, 'Zach Reid', 'TESTINGZach Reid', 13, 4, 5, 6.230769230769231)
(373, 'Tiffany Stoik', 'TESTINGTiffany Stoik', 11, 5, 2, 4.363636363636363)
(370, 'Jane Smith', 'TESTINGJane Smith', 10, 7, 6, 6.2)
(366, 'Hashim Jama', 'TESTINGHashim Jama', 12, 2, 1, 5.083333333333333)
(371, 'Kylie Tan', 'TESTINGKylie Tan', 13, 8, 3, 4.846153846153846)
372

In [5]:
#Start Following 
cur.execute(sq.add_following(), (row[0], id))

In [6]:
#Get Their Account Info
cur.execute(sq.get_account_summary(), (id,))
print(cur.fetchall())

#Get Account Info For Our Account
cur.execute(sq.get_self_summary(), (row[0],))
print(cur.fetchall())

[(372, 'Bertha Blue', 'TESTINGBertha Blue', 10, 6, 8, 4.0)]
[(376, 'Lucas', 'ldunc01', '9032023931', 'ldunc19@hotmail.com', 0, 0, 1, None)]

In [7]:
#Get List Of Reviews (for account info of self or others)

cur.execute(sq.get_account_review(),(id,))
reviews = cur.fetchall()

for review in reviews:
    print(review)

('The Shawshank Redemption', 3.0, None, 'TESTING', 'Drama', 'Movie')
('The Dark Knight', 4.0, None, 'TESTING', 'Action', 'Movie')
('Forrest Gump', 6.0, None, 'TESTING', 'Drama', 'Movie')
('Inception', 2.0, None, 'TESTING', 'Sci-Fi', 'Movie')
('Goodfellas', 1.0, None, 'TESTING', 'Crime', 'Movie')
('The Lord of the Rings: The Fellowship of the Ring', 8.0, None, 'TESTING', 'Fantasy', 'Movie')
('Star Wars: Episode V - The Empire Strikes Back', 1.0, None, 'TESTING', 'Fantasy', 'Movie')
("Schindler's List", 4.0, None, 'TESTING', 'History', 'Movie')
('The Green Mile', 4.0, None, 'TESTING', 'Drama', 'Movie')
('Gladiator', 7.0, None, 'TESTING', 'Action', 'Movie')

In [8]:
#Get List of follows
cur.execute(sq.get_account_follows(), (id,))
follows = cur.fetchall()

for follow in follows:
    print(follow)

(365, 'Gavin Heslip', 12, 7, 3)
(364, 'Venkat Gunturi', 12, 6, 3)
(368, 'Lucas Duncan', 13, 6, 5)
(367, 'Zach Reid', 13, 5, 4)
(370, 'Jane Smith', 10, 6, 7)
(376, 'Lucas', 0, 1, 0)

In [9]:
#Get list of followers
cur.execute(sq.get_account_following(), (id,))
followings = cur.fetchall()

for following in followings:
    print(following)

(369, 'John Doe', 14, 4, 6)
(365, 'Gavin Heslip', 12, 7, 3)
(368, 'Lucas Duncan', 13, 6, 5)
(367, 'Zach Reid', 13, 5, 4)
(373, 'Tiffany Stoik', 11, 2, 5)
(370, 'Jane Smith', 10, 6, 7)
(366, 'Hashim Jama', 12, 1, 2)
(371, 'Kylie Tan', 13, 3, 8)

In [10]:
#Add A review (1)

#search for a name,
cur.execute(sq.get_searched_media(), ('%The%',))
media = cur.fetchall()

for single_media in media:
    print(single_media)

id_we_want = media[2][0]

(572, 'The Silence of the Lambs', 57, 402, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(571, 'Star Wars: Episode V - The Empire Strikes Back', 57, 394, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(561, 'The Shawshank Redemption', 57, 399, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(574, 'The Green Mile', 57, 399, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(568, 'The Matrix', 57, 395, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(563, 'The Dark Knight', 57, 395, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(570, 'The Lord of the Rings: The Fellowship of the Ring', 57, 394, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(562, 'The Godfather', 57, 400, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(579, 'The Departed', 57, 400, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)
(577, 'The Lion King', 57, 404, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)

In [11]:
#Add A review (2)

#Upload review
cur.execute(sq.add_review(), (row[0], id_we_want, 7.5, "This Movie Was Good"))
conn.commit()

In [12]:
#Get Recent Activity Among Followers
cur.execute(sq.get_account_recent(), (row[0],))

for recent in cur.fetchall():
    print(recent)

('Movie', 'Drama', 'The Shawshank Redemption', 'Bertha Blue', 3.0, None, 'TESTING')
('Movie', 'Action', 'The Dark Knight', 'Bertha Blue', 4.0, None, 'TESTING')
('Movie', 'Drama', 'Forrest Gump', 'Bertha Blue', 6.0, None, 'TESTING')
('Movie', 'Sci-Fi', 'Inception', 'Bertha Blue', 2.0, None, 'TESTING')
('Movie', 'Crime', 'Goodfellas', 'Bertha Blue', 1.0, None, 'TESTING')
('Movie', 'Fantasy', 'The Lord of the Rings: The Fellowship of the Ring', 'Bertha Blue', 8.0, None, 'TESTING')
('Movie', 'Fantasy', 'Star Wars: Episode V - The Empire Strikes Back', 'Bertha Blue', 1.0, None, 'TESTING')
('Movie', 'History', "Schindler's List", 'Bertha Blue', 4.0, None, 'TESTING')
('Movie', 'Drama', 'The Green Mile', 'Bertha Blue', 4.0, None, 'TESTING')
('Movie', 'Action', 'Gladiator', 'Bertha Blue', 7.0, None, 'TESTING')

In [13]:
#Delete A Following()
cur.execute(sq.delete_following(),(row[0], id))
conn.commit()

In [14]:
#Get Media Given It

cur.execute(sq.get_media(), (id_we_want,))
print(cur.fetchall())

[(561, 'The Shawshank Redemption', 57, 399, datetime.date(2069, 1, 10), 'TESTING', 'TESTING', None, None)]